.header-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table_list{
  overflow: unset !important;

}

.card-body {

}
.item-book {
  cursor: pointer;
}

.box-add-box {
  margin: 0 !important;
}
